<nav class="navbar navbar-expand-sm navbar-dark bg-dark d-flex justify-content-between">
    <a class="navbar-brand fs-1 mx-5" href="/">Delivery App</a>
    <div class="navbar-nav mx-5">
        <a class="nav-item nav-link fs-3" href="/">Home</a>
        <a class="nav-item nav-link fs-3" href="/cart">Cart</a>
    </div>
</nav>